h1 {
    border: 6px outset rgb(59, 110, 35);
    text-shadow: 2px 8px 1px rgb(66, 124, 40);
    text-shadow: 2px -8px 1px rgb(66, 124, 40);
}
h2 {
    border: 6px outset rgb(59, 110, 35);
    text-shadow: 2px 2px 3px rgb(66, 124, 40);
}
h3 {
    border: 5px outset rgb(59, 110, 35);
    text-shadow: 2px 2px 3px rgb(66, 124, 40);
}
h4 {
    border: 5px outset rgb(59, 110, 35);
    text-shadow: 2px 2px 3px rgb(66, 124, 40);
}

pre {
    border: 3px outset rgb(59, 110, 35);
    font-size: 1.2rem;
    text-shadow: 2px 2px 3px rgb(66, 124, 40);
    

}
pre[id="1"] {
    border: 2px outset rgb(59, 110, 35);
    font-size: 1.2rem;
    background-color: rgb(0, 0, 0);
     text-shadow: 2px 2px 4px rgb(43, 73, 27);

}